@font-face {
    font-family: 'gilroy light';
    src: url('../fonts/Gilroy-Light.otf');
}

*{
    margin: 0;
    padding: 0;
}
body, header, nav, section, aside, footer{
    display: block;
    font-family: 'gilroy light';
}

/*----------------------------------- navigation styles ------------------------------------*/

.brand-link:hover{
    color: blue;
}
.user-panel > .info > a{
    text-decoration: none !important;
}
.main-sidebar{
    background-color: #f5edf1;
}
#app > nav{
    background-color: #afd7e9;
}
#app > .navbar > .container-fluid > .navbar-brand{
    margin-left: 5%;
}
.navbar-nav, .navbar{
    background-color: #afd7e9;
}

/*----------------------------------- welcome.blade page ------------------------------------*/

#landing{
    
}
#land_top{
    width: 100%;
    background-color: #afd7e9;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 25px 0 10px;
}
.land_top{
    background-color: #afd7e9 !important;
    box-shadow: 0 0 10px 1px rgba(180, 180, 180, 1);
    z-index: 9999!important;
}
#land_top > div:nth-child(1){
    padding-left: 50px;
}
#land_top > div:nth-child(2) > ul > li{
    display: inline-block;
}
#land_top > div:nth-child(2) > ul > li > a{
    text-decoration: none;
    color: #303030;
    border-radius: 5px;
    padding: 10px 20px;
    transition: .5s;
}
#land_top > div:nth-child(2) > ul > li > a:hover{
    color: #ffffff;
    background-color: #1e266d;
    box-shadow: 0 0 10px 1px rgba(180, 180, 180, 1);
}
#land_top > div:nth-child(3) > ul > li{
    float: right;
    display: inline-block;
}
#land_top > div:nth-child(3) > ul > li > a{
    text-decoration: none;
    color: #ffffff;
    background-color: #1e266d;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 10px 30px;
    transition: .5s;
}
#land_top > div:nth-child(3) > ul > li > a:hover{
    box-shadow: 0 0 10px 1px rgba(180, 180, 180, 1);
}
#landingHead{
    margin-top: 20px;
    padding-top: 80px;
}
#landingHead > div{
    width: 50%;
    text-align: center;
    color: #303030;
    background-color: #6fc7d9;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'gilroy extrabold';
    position: relative;
    left: 50%;
    top: 80px;
    transform: translate(-50%, -50%);
    padding: 30px 100px;
}
#land_brain{
    position: relative;
    margin: 0 0 20px;
    padding: 50px 0 30px;
}
#land_brain > div:nth-child(1){
    padding: 50px;
}
#land_brain > div:nth-child(1) > span{
    font-size: 24px;
    margin: 50px 0;
}
#land_brain > div:nth-child(1) > h1{
    font-size: 48px;
    font-weight: bold;
}
#land_brain > div:nth-child(1) > p{
    font-size: 18px;
}
#personal_more{
    display: none;
}
#personal_button{
    background-color: #6fc7d9;
    box-shadow: 0 0 10px 1px rgba(180, 180, 180, 1);
}
#land_brain > div:nth-child(2){
    padding: 60px;
}
#land_brain > div:nth-child(2) > div{
    min-height: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(180, 180, 180, 1);
    padding: 20px;
}
#land_solution{
    background-color: white;
    position: relative;
    margin: 20px 0 0;
    padding: 50px 0;
}
#land_solution > div:nth-child(1){
    padding: 60px;
}
#land_solution > div:nth-child(1) > div{
    min-height: 350px;
    background-color: #edeff3;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(180, 180, 180, 1);
    padding: 20px;
}
#land_solution > div:nth-child(2){
    padding: 50px;
}
#land_solution > div:nth-child(2) > span{
    font-size: 24px;
    margin: 50px 0;
}
#land_solution > div:nth-child(2) > h1{
    font-size: 48px;
    font-weight: bold;
}
#land_solution > div:nth-child(2) > p{
    font-size: 18px;
}
#land_solution > div:nth-child(2) > a{
    text-decoration: none;
    color: #303030;
    background-color: #6fc7d9;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(180, 180, 180, 1);
    padding: 10px 30px;
}
#landingBody{
    min-height: 700px;
    position: relative;
    padding: 100px 0;
}
#landingBody > h1:nth-child(1) {
    font-size: 48px;
    font-weight: bold;
    padding: 0 50px 30px;
}
#landingBody > div:nth-child(2){
    width: 90%;
    height: 370px;
    background-color: #c3d1d8;
}
#landingBody > div:nth-child(2) > div:nth-child(1){
    width: 67%;
}
#landingBody > div:nth-child(2) > div:nth-child(1) > p{
    color: black;
    font-size: 18px;
    line-height: 24px;
    padding: 50px;
}
#landingBody > div:nth-child(2) > div:nth-child(1) > p > span{
    font-size: 40px;
}
#landingBody > div:nth-child(2) > div:nth-child(1) > p > sup{
    font-size: 10px;
}
#landingBody > div:nth-child(2) > div:nth-child(2){
    width: 55%;
    position: absolute;
    left: 42px;
    top: 470px;
}
#owl-three{
    position: relative;
    overflow: hidden;
}
#owl-three .item{
    width: 94%;
    height: 220px;
    color: #ffffff;
    background-color: #3b3b3b;
    border-radius: 6px;
    margin: 0 3%;
    padding: 20px;
}
.owl-nav1 .owl-prev,
.owl-nav1 .owl-next{
    border: none;
    background-color: black;
    position: absolute;
    top: 45%;
    padding: 2px 10px 4px;
}
.owl-nav1 .owl-prev{
    left: 0;
}
.owl-nav1 .owl-next{
    right: 0;
}
#landingBody > div:nth-child(3){
    width: 35%;
    min-height: 400px;
    color: black;
    /* background-color: #ffd34f; */
    background-color: #6fc7d9;
    border-radius: 10px;
    box-shadow: 4px 0 15px 2px rgba(140, 140, 140, 1);
    position: absolute;
    right: 2%;
    top: 155px;
    margin-bottom: 20px;
    padding: 40px 50px 20px;
}
#landingBody > div:nth-child(3) > ul{
    font-size: 18px;
    margin-top: 60px;
}
#land_footer{
    background-color: #afd7e9;
    margin: 100px 0 0;
    padding: 30px 0;
}

/*----------------------------------- landing svg animation ------------------------------------*/

#land_svg_1{
    height: 30px;
    position: absolute;
    left: 50px;
    top: 200px;
    animation: svg1 25s linear infinite;
}
@keyframes svg1{
    0%{
        left: 50px;
        top: 200px;
        transform: rotate(0deg);
    }
    25%{
        left: 250px;
        top: 200px;
        transform: rotate(-90deg);
    }
    50%{
        left: 400px;
        top: 300px;
        transform: rotate(-180deg);
    }
    75%{
        left: 250px;
        top: 300px;
        transform: rotate(-270deg);
    }
    100%{
        left: 50px;
        top: 200px;
        transform: rotate(-360deg);
    }
}
#land_svg_2{
    position: absolute;
    top: 200px;
    right: 50px;
    animation: svg2 25s linear infinite;
}
@keyframes svg2{
    0%{
        top: 200px;
        right: 50px;
    }
    35%{
        top: 350px;
        right: 300px;
        transform: rotate(90deg);
    }
    55%{
        top: 200px;
        right: 200px;
        transform: rotate(-90deg);
    }
    75%{
        top: 350px;
        right: 100px;
    }
    100%{
        top: 200px;
        right: 50px;
    }
}
#land_svg_3{
    border-radius: 10px;
    position: absolute;
    left: 200px;
    bottom: 0px;
    animation: svg3 15s linear infinite;
    transform-origin: center;
}
@keyframes svg3{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
#land_svg_4{
    width: 300px;
    height: 170px;
    position: absolute;
    right: 5%;
    bottom: 0;
}

/*----------------------------------- login page ------------------------------------*/

#login_body_main{
    border: 1px solid #afd7e9;
    border-radius: 12px;
    box-shadow: 0 20px 30px 2px rgba(0, 0, 0, 0.5);
    font-family: 'gilroy light';
    margin-top: 25px;
}
#login_body_main > div{
    margin: 0;
    padding: 0;
}
#login_body_main > div:nth-child(1) > img{
    border-radius: 10px 0 0 10px;
}
#login_body_main > div:nth-child(2) > .card{
    border: none;
    border-radius: 0 10px 10px 0;
}
#login_body_main > div:nth-child(2) > .card > .card-header{
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 0 10px 0 0;
    font-size: 16px;
}
#login_body_main > div:nth-child(2) > .card > .card-body{
    height: 424px;
}
#email, #password{
    font-family: 'gilroy light';
}
#login_welcome > span{
    color: black;
    font-size: 24px;
}
#login_body_main > div:nth-child(2) > .card > .card-body > form > div > div > label{
    color: black;
    text-shadow: none;
}
#login_body_main > div:nth-child(2) > .card > .card-body > form > div > div > input{
    background-color: #e4f1f7;
}
#login_body_main > div:nth-child(2) > .card > .card-body > form > div > div > button{
    color: black;
    background-color: #afd7e9;
    font-size: 16px;
}
#login_body_main > div:nth-child(2) > .card > .card-body > form > div > div > a{
    text-decoration: none;
    color: black;
    border: 1px solid #fde8eb;
    border-radius: 5px;
}
#login_body_main > div:nth-child(2) > .card > .card-body > form > div > div > button:hover,
#login_body_main > div:nth-child(2) > .card > .card-body > form > div > div > a:hover{
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
}
.form-check > label{
    padding-left: 20px;
}

/*----------------------------------- register page ------------------------------------*/

#register_body_main{
    border: 1px solid #afd7e9;
    border-radius: 12px;
    box-shadow: 0 20px 30px 2px rgba(0, 0, 0, 0.5);
    font-family: 'gilroy light';
    margin-top: 25px;
}
#register_body_main > div{
    margin: 0;
    padding: 0;
}
#register_body_main > div:nth-child(1) > img{
    border-radius: 10px 0 0 10px;
}
#register_body_main > div:nth-child(2) > .card{
    border: none;
    border-radius: 0 10px 10px 0;
}
#register_body_main > div:nth-child(2) > .card > .card-header{
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 0 10px 0 0;
    font-size: 16px;
}
#register_body_main > div:nth-child(2) > .card > .card-body > form > div > div > label{
    color: black;
    line-height: 8px;
}
#register_body_main > div:nth-child(2) > .card > .card-body > form > div > div > input{
    background-color: #e4f1f7;
}
#register_body_main > div:nth-child(2) > .card > .card-body > form > div > div > button{
    color: black;
    background-color: #afd7e9;
    font-size: 16px;
}
#register_body_main > div:nth-child(2) > .card > .card-body > form > div > div > button:hover{
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
}

/*----------------------------------- new visitor page ------------------------------------*/

#add_visitor_container{
/*    background-image: linear-gradient(#d9b3ff, #ffb3ff);*/
    margin: 0;
    padding: 0;
}
#add_visitor{
    width: 77%;
    margin-left: 21%;
    padding: 40px 0;
    transition: .4s;
}
.v_left{
    width: 90% !important;
    margin-left: 8% !important;
    transition: .4s;
}
#add_visitor > div{
/*    background-color: #0099cc;*/
    background-color: #ccebff;
    border-radius: 10px;
    box-shadow: 0 0 30px 10px rgba(120, 120, 120, 1);
    padding: 20px;
}
#add_visitor > div > form:nth-child(2) > div:nth-child(2),
#add_visitor > div > form:nth-child(2) > div:nth-child(3){
    display: flex;
}
#add_visitor > div > form:nth-child(2) > div:nth-child(2) > input,
#add_visitor > div > form:nth-child(2) > div:nth-child(3) > input:nth-child(1){
    margin-right: 20px;
}
#add_visitor > div > form:nth-child(2) > .form-group{
    margin: 15px 0;
    padding: 0;
}
#add_visitor > div > form:nth-child(2) > div > input:focus,
#add_visitor > div > form:nth-child(2) > div > select:focus,
#add_visitor > div > form:nth-child(2) > div > textarea:focus,
#add_visitor > div > form:nth-child(2) > div > button:focus{
    border: 1px solid darkgray;
    box-shadow: none;
    transition: all .5s ease;
}
#add_visitor > div > form:nth-child(2) > div > button:hover{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}
#image-upload{
    border: none;
    box-shadow: none;
}

/*----------------------------------- home/dashboard page ------------------------------------*/

#stat_box > div:nth-child(1) > div{
    background: linear-gradient(to right,#fe9365,#feb798);
}
#stat_box > div:nth-child(2) > div{
    background: linear-gradient(to right,#0ac282,#0df3a3);
}
#stat_box > div:nth-child(3) > div{
    background: linear-gradient(to right,#fe5d70,#fe909d);
}
#home_search > .card{
    border: 1px solid #007bff;
}
#home_search > .card > .card-header{
    background-color: #007bff;
}
#home_search > .card > .card-body > input{
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
    padding: 10px 20px;
}
#home_add_visitor{
    float: right;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 3px;
    padding: 5px 40px;
}
#home_graphs{
    display: none;
}

/*----------------------------------- admin_profile.blade page ------------------------------------*/

#login_body{
    background-color: #e4f1f7;
    margin: 20px 0;
    padding: 20px 0;
}
#login_body > div > img{
    border: 1px solid lightgray;
    border-radius: 6px;
}
#login_body > div > h2{
    margin-top: 20px;
}
